<!DOCTYPE html>
<html>
<head>
    <title>Read(One)</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>TV Show {{ show.id }}</h1>
    <a href="/shows">Go Back</a>

    <p>Title: {{show.title}}</p>
    <p>Network: {{show.network.name}}</p>
    <p>Release Date: {{show.release_date|date:"M d, Y"}}</p>
    <p>Description: {{show.desc}}</p>
    <p>Last Updated: {{ show.updated_at|date:"F d, Y P" }}</p>
</body>
</html>